doctype html
html
    head
        title= title
    body
        h1 About
        p This is a test Pug file using WebPack
        ul
            li One
            li Two
            li Three
            li Four
            li Six